/Projeto_1/venv/
/Projeto_1/__pycache__/
/Projeto_1/*/__pycache__/
/Projeto_1/.idea/
/Projeto_1/*.zip
/Projeto_1/AA_TP1_98497/
/Projeto_1/TP1_Report_Final.pdf

/Projeto_2/.idea/
/Projeto_2/venv/
/Projeto_2/__pycache__/
/Projeto_2/*/__pycache__/
